@import "../index.scss";

pre {
  display: block;
  font-size: 14px;
  line-height: 1.42857143;
  color: #abb2bf;
  background: #282c34;
  overflow: auto;
  padding: 2vw;
  margin: 1em 0px;
}
h1,h2,h3,h4,h5,h6{
  margin-top: 1em;
}

code{
  font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace !important;
}

strong {
  font-weight: bold;
}

p > code:not([class]) {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
p img{
  /* 图片居中 */
  margin: 0 auto;
  display: flex;
  width: 100%;
  border-radius: .3em;
}

p,li{
  text-align: justify;
}

.content{
  padding: 0 !important;
  margin: 0 !important;
}

h1{
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
  margin:0 0 .67em 0;
  padding: .67em 0 .3em 0;
}

#content {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  margin:0;
  padding:0;
  color:$FontColor;
}

#content .desc ul,#content .desc ol {
  color: #333333;
  margin: 1.5em 0 0 25px;
}

#content .desc h1, #content .desc h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

#content .desc a {
  color: #009a61;
}

#content blockquote{
  border-left: .25em solid #D7DBDF;
  margin: 0;
}

#content blockquote p{
  padding-left: 1em;
}

a{
  color:#abb2bf;
}

*{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
}